.bigCounter{
    background: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.bigCounter div{
    display: inline-block;
    font-size: 45px;
    line-height: 60px;
    background: rgb(44, 43, 43);
    margin: 2px;
    padding: 8px;
    border-radius: 10%;
    width: 60px;
}
